@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Google - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

@layer base {
   .body {
      @apply font-inter;
   }
   .container {
      @apply px-2;
   }

   .nav-menu {
      @apply text-sm flex items-center flex-col px-5 py-3 text-sub_text;
   }

   .nav-menu .icon {
      @apply text-3xl;
   }

   .active {
      @apply text-primary;
   }

   .exact-active-link {
      @apply text-primary;
   }
}

@layer components {
   .product-title {
      @apply font-semibold text-base;
   }

   .product-detail .product-title {
      @apply font-semibold text-xl;
   }

   .product-price {
      @apply text-[#F2A666] font-medium text-base mt-1;
   }

   .product-detail .product-price {
      @apply text-[#F2A666] font-medium text-lg;
   }

   .product-store {
      @apply text-sm font-light text-sub_text;
   }

   .product-desc {
      @apply text-base text-sub_text leading-relaxed;
   }

   input[type="number"] {
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
   }

   input[type="number"]::-webkit-inner-spin-button,
   input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
   }
}
